body {
    font-family: Arial, sans-serif;
}

#container {
    margin-top: 20px;
}

form {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: rgb(153, 119, 119);
    border: none;
    cursor: pointer;
}

#result {
    margin-bottom: 10px;
}

.results {
    margin-top: 20px;
}

.result-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results .object-result {
    margin-bottom: 10px;
}

.results .object-title {
    font-weight: bold;
}

.results .good-effects,
.results .bad-effects {
    margin-top: 5px;
}

.results .good-effects:before,
.results .bad-effects:before {
    content: "Effects: ";
    font-weight: bold;
}

.results .damage {
    margin-top: 5px;
    color: red;
    font-weight: bold;
}

#effects {
    font-weight: bold;
}